{% extends 'base.html.twig' %}

{% block title %}Justificatifs Résidents{% endblock %}

{% block body %}
{% include "_nav.html.twig" %}
<div class="my-5 text-center">
    <h1 class="mb-4">Carte Résident</h1>
</div>

<div class="d-flex align-items-center justify-content-center" style= "margin-top: 15%; overflow: hidden; gap: 30px;">
    <div>
        <a href="{{path('app_resident_search')}}" class="btn fs-5 px-4 py-3 rounded" id="bouton">Renouvellement Résident</a>
    </div>
    <div>
        <a href="{{path('app_resident_new')}}" class="btn fs-5 px-4 py-3 rounded" id="bouton">Nouveau Résident</a>
    </div> 
      
</div>
{% endblock %}