<div class="text-end mr-5">
    <p class="mt-4" style="font-family: 'Poppins', sans-serif; color: #DC9F69;">Entrez le nom du résident </p>
    <div class="d-flex justify-content-end" style="padding: 0">
        <form method="get" action="{{ path('app_search_resident') }}">
            {# <label for="nom">Nom:</label> #}
            <input class="rounded px-4 py-1 block" style="border: 2px solid #F5F4F3" type="text" id="nom" name="nom" placeholder="Entrez un nom...">
            <button type="submit" class="rounded px-4 py-1 block" style="border: none; background-image: linear-gradient(to right top, #b1aa96, #b8af9f, #beb5a8, #c3bbb1, #c8c1ba); color: white">Rechercher</button>
        </form>
    </div> 
</div>
{# <div class="modal fade" id="modal_recherche" tabindex="-1" role="dialog" aria-labelledby="modal_recherche_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_recherche_label">Recherche de clients</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_recherche" action="{{ path('app_search_resident') }}" method="post">
                    <div class="form-group">
                        <label for="nom_client">Nom du client</label>
                        <input type="text" class="form-control" id="nom_client" name="nom_client" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </form>
            </div>
        </div>
    </div>
</div> #}
