#navigation {
    background-color: rgba(255,255, 255, 0.8);
    backdrop-filter: blur(8px);
    transition: 0.5s;
    box-shadow: 0 1px 4px #2825251a;
    height: 80px;
}

#btn-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
#home,
#home1 {
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    border-radius: 5%;
}
  
#home {
    margin-top: 10%; 
    padding: 45px 110px 45px 110px;

}

#home1 {
    margin-top: 8%;
    padding: 45px 90px 45px 90px;

}

#home a, #home1 a {
    font-size: 35px;
    color: #333;
    text-decoration: none;
}

li#liste {
    list-style: none !important;
}

#bouton {
    display: flex;
    background-color: #f4af94;
    
}

#gap {
    gap: 165px;
}

#choix a {
    text-decoration: none;
    color: white;
    padding: 15px 25px 15px 15px;
}

#choix .btn {
    margin-top: 45px;
    margin-bottom: 20px;
}

@media print {
    .hidden-on-print {
        display: none;
    }
    .hidden-border-on-print {
        border: none !important;
      }
}

#impression {
    border: none;
}
